//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 31 14:16:36 2017
//! **************************************************************************

SCHEMATIC START;
COMP "En" LOCATE = SITE "G13" LEVEL 1;
COMP "SS" LOCATE = SITE "K12" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "MISO" LOCATE = SITE "L17" LEVEL 1;
COMP "SCLK" LOCATE = SITE "L15" LEVEL 1;
COMP "MOSI" LOCATE = SITE "M15" LEVEL 1;
COMP "PWML" LOCATE = SITE "J16" LEVEL 1;
COMP "PWMR" LOCATE = SITE "G15" LEVEL 1;
COMP "Segm<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "Segm<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "Segm<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "Segm<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "Segm<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "Segm<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "Segm<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "Segm<7>" LOCATE = SITE "C17" LEVEL 1;
COMP "An<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "An<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "An<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "An<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "Enc<0>" LOCATE = SITE "M18" LEVEL 1;
COMP "Enc<1>" LOCATE = SITE "J13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

